.p-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.p-home-sidebar {
  flex: 0;
  width: var(--dl-size-size-xlarge);
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.p-home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.p-home-text {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-threeunits);
}
.p-home-text001 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p-home-navlink {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p-home-text002 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p-home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  flex-direction: column;
}
.p-home-container01 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr;
}
.p-home-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p-home-image {
  width: 25px;
  object-fit: cover;
}
.p-home-container02 {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-heading {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p-home-text003 {
  font-size: 18px;
}
.p-home-pc {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p-home-image01 {
  width: 25px;
  object-fit: cover;
}
.p-home-container03 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text019 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p-home-text020 {
  font-size: 18px;
}
.p-home-phone {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p-home-image02 {
  width: 25px;
  object-fit: cover;
}
.p-home-container04 {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text052 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p-home-text053 {
  font-size: 18px;
  line-height: 1.15;
}
.p-home-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.p-home-yt1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image03 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container06 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text073 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text074 {
  font-size: 18px;
}
.p-home-yt2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image04 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container07 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text077 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text078 {
  font-size: 18px;
}
.p-home-twitch {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image05 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container08 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text081 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text082 {
  font-size: 18px;
}
.p-home-twitter {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image06 {
  width: 65px;
  object-fit: cover;
}
.p-home-container09 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text085 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text086 {
  font-size: 18px;
}
.p-home-inst {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image07 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container10 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text089 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text090 {
  font-size: 18px;
}
.p-home-vk {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image08 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container11 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text093 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text094 {
  font-size: 18px;
}
.p-home-tg {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image09 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container12 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text097 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text098 {
  font-size: 18px;
}
.p-home-ds1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image10 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container13 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text101 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text102 {
  font-size: 18px;
}
.p-home-ds2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image11 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p-home-container14 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text105 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text106 {
  font-size: 18px;
}
.p-home-da {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p-home-image12 {
  width: 50px;
  height: 60px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
}
.p-home-container15 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p-home-text109 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p-home-text110 {
  font-size: 18px;
}
@media(max-width: 1366px) {
  .p-home-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .p-home-sidebar {
    width: var(--dl-size-size-xlarge);
    align-self: stretch;
  }
  .p-home-text003 {
    font-size: 18px;
    line-height: 1.15;
  }
  .p-home-text020 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text021 {
    line-height: 1.15;
  }
  .p-home-text022 {
    line-height: 1.15;
  }
  .p-home-text023 {
    line-height: 1.15;
  }
  .p-home-text024 {
    line-height: 1.15;
  }
  .p-home-text025 {
    line-height: 1.15;
  }
  .p-home-text026 {
    line-height: 1.15;
  }
  .p-home-text027 {
    line-height: 1.15;
  }
  .p-home-text028 {
    line-height: 1.15;
  }
  .p-home-text029 {
    line-height: 1.15;
  }
  .p-home-text030 {
    line-height: 1.15;
  }
  .p-home-text031 {
    line-height: 1.15;
  }
  .p-home-text032 {
    line-height: 1.15;
  }
  .p-home-text033 {
    line-height: 1.15;
  }
  .p-home-text034 {
    line-height: 1.15;
  }
  .p-home-text035 {
    line-height: 1.15;
  }
  .p-home-text036 {
    line-height: 1.15;
  }
  .p-home-text037 {
    line-height: 1.15;
  }
  .p-home-text038 {
    line-height: 1.15;
  }
  .p-home-text039 {
    line-height: 1.15;
  }
  .p-home-text040 {
    line-height: 1.15;
  }
  .p-home-text041 {
    line-height: 1.15;
  }
  .p-home-text042 {
    line-height: 1.15;
  }
  .p-home-text043 {
    line-height: 1.15;
  }
  .p-home-text044 {
    line-height: 1.15;
  }
  .p-home-text045 {
    line-height: 1.15;
  }
  .p-home-text046 {
    line-height: 1.15;
  }
  .p-home-text047 {
    line-height: 1.15;
  }
  .p-home-text049 {
    line-height: 1.15;
  }
  .p-home-text053 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text074 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text078 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text082 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text086 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text090 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text094 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text098 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text102 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text106 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-text110 {
    font-size: 18px;
    line-height: 1.25;
  }
}
@media(max-width: 1080px) {
  .p-home-features {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 480px) {
  .p-home-sidebar {
    flex: 1;
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .p-home-features {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .p-home-container02 {
    flex-direction: column;
  }
  .p-home-text003 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p-home-container03 {
    flex-direction: column;
  }
  .p-home-text020 {
    line-height: 1.25;
  }
  .p-home-container04 {
    flex-direction: column;
  }
  .p-home-text053 {
    font-size: 18px;
    line-height: 1.1;
  }
  .p-home-text054 {
    line-height: 1.25;
  }
  .p-home-text055 {
    line-height: 1.25;
  }
  .p-home-text056 {
    line-height: 1.25;
  }
  .p-home-text057 {
    line-height: 1.25;
  }
  .p-home-text058 {
    line-height: 1.25;
  }
  .p-home-text059 {
    line-height: 1.25;
  }
  .p-home-text060 {
    line-height: 1.25;
  }
  .p-home-text061 {
    line-height: 1.25;
  }
  .p-home-text062 {
    line-height: 1.25;
  }
  .p-home-text063 {
    line-height: 1.25;
  }
  .p-home-text064 {
    line-height: 1.25;
  }
  .p-home-text065 {
    line-height: 1.25;
  }
  .p-home-text066 {
    line-height: 1.25;
  }
  .p-home-text067 {
    line-height: 1.25;
  }
  .p-home-text068 {
    line-height: 1.25;
  }
  .p-home-text069 {
    line-height: 1.25;
  }
  .p-home-text070 {
    line-height: 1.25;
  }
  .p-home-text071 {
    line-height: 1.25;
  }
  .p-home-container06 {
    flex-direction: column;
  }
  .p-home-text074 {
    line-height: 1.25;
  }
  .p-home-container07 {
    flex-direction: column;
  }
  .p-home-text078 {
    line-height: 1.25;
  }
  .p-home-container08 {
    flex-direction: column;
  }
  .p-home-text082 {
    line-height: 1.25;
  }
  .p-home-container09 {
    flex-direction: column;
  }
  .p-home-text086 {
    line-height: 1.25;
  }
  .p-home-container10 {
    flex-direction: column;
  }
  .p-home-text090 {
    line-height: 1.25;
  }
  .p-home-container11 {
    flex-direction: column;
  }
  .p-home-text094 {
    line-height: 1.25;
  }
  .p-home-container12 {
    flex-direction: column;
  }
  .p-home-text098 {
    line-height: 1.25;
  }
  .p-home-container13 {
    flex-direction: column;
  }
  .p-home-text102 {
    line-height: 1.25;
  }
  .p-home-container14 {
    flex-direction: column;
  }
  .p-home-text106 {
    line-height: 1.25;
  }
  .p-home-container15 {
    flex-direction: column;
  }
  .p-home-text110 {
    line-height: 1.25;
  }
}
