.p1home-en-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.p1home-en-sidebar {
  flex: 0;
  width: var(--dl-size-size-xlarge);
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.p1home-en-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.p1home-en-text {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-threeunits);
}
.p1home-en-text001 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p1home-en-navlink {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p1home-en-navlink1 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p1home-en-text004 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.p1home-en-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  flex-direction: column;
}
.p1home-en-container01 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr;
}
.p1home-en-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p1home-en-image {
  width: 25px;
  object-fit: cover;
}
.p1home-en-container02 {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-heading {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p1home-en-text005 {
  font-size: 18px;
}
.p1home-en-pc {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p1home-en-image01 {
  width: 25px;
  object-fit: cover;
}
.p1home-en-container03 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text026 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p1home-en-text027 {
  font-size: 18px;
}
.p1home-en-phone {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.p1home-en-image02 {
  width: 25px;
  object-fit: cover;
}
.p1home-en-container04 {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text062 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.p1home-en-text063 {
  font-size: 18px;
  line-height: 1.15;
}
.p1home-en-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.p1home-en-yt1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image03 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container06 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text087 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text088 {
  font-size: 18px;
}
.p1home-en-yt2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image04 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container07 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text089 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text090 {
  font-size: 18px;
}
.p1home-en-twitch {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image05 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container08 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text093 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text094 {
  font-size: 18px;
}
.p1home-en-twitter {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image06 {
  width: 65px;
  object-fit: cover;
}
.p1home-en-container09 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text097 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text098 {
  font-size: 18px;
}
.p1home-en-inst {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image07 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container10 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text099 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text100 {
  font-size: 18px;
}
.p1home-en-vk {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image08 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container11 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text101 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text102 {
  font-size: 18px;
}
.p1home-en-tg {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image09 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container12 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text103 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text104 {
  font-size: 18px;
}
.p1home-en-ds1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image10 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container13 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text107 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text108 {
  font-size: 18px;
}
.p1home-en-ds2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image11 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container14 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text109 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text110 {
  font-size: 18px;
}
.p1home-en-da {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image12 {
  width: 50px;
  height: 60px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
}
.p1home-en-container15 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text111 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text112 {
  font-size: 18px;
}
.p1home-en-st {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.p1home-en-image13 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p1home-en-container16 {
  display: grid;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.p1home-en-text115 {
  font-weight: 600;
  margin-bottom: 0px;
}
.p1home-en-text116 {
  font-size: 18px;
}
@media(max-width: 1366px) {
  .p1home-en-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .p1home-en-sidebar {
    width: var(--dl-size-size-xlarge);
    align-self: stretch;
  }
  .p1home-en-text005 {
    font-size: 18px;
    line-height: 1.15;
  }
  .p1home-en-text027 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text028 {
    line-height: 1.15;
  }
  .p1home-en-text029 {
    line-height: 1.15;
  }
  .p1home-en-text030 {
    line-height: 1.15;
  }
  .p1home-en-text031 {
    line-height: 1.15;
  }
  .p1home-en-text032 {
    line-height: 1.15;
  }
  .p1home-en-text033 {
    line-height: 1.15;
  }
  .p1home-en-text034 {
    line-height: 1.15;
  }
  .p1home-en-text035 {
    line-height: 1.15;
  }
  .p1home-en-text036 {
    line-height: 1.15;
  }
  .p1home-en-text037 {
    line-height: 1.15;
  }
  .p1home-en-text038 {
    line-height: 1.15;
  }
  .p1home-en-text039 {
    line-height: 1.15;
  }
  .p1home-en-text040 {
    line-height: 1.15;
  }
  .p1home-en-text041 {
    line-height: 1.15;
  }
  .p1home-en-text042 {
    line-height: 1.15;
  }
  .p1home-en-text043 {
    line-height: 1.15;
  }
  .p1home-en-text044 {
    line-height: 1.15;
  }
  .p1home-en-text045 {
    line-height: 1.15;
  }
  .p1home-en-text046 {
    line-height: 1.15;
  }
  .p1home-en-text047 {
    line-height: 1.15;
  }
  .p1home-en-text048 {
    line-height: 1.15;
  }
  .p1home-en-text049 {
    line-height: 1.15;
  }
  .p1home-en-text050 {
    line-height: 1.15;
  }
  .p1home-en-text051 {
    line-height: 1.15;
  }
  .p1home-en-text052 {
    line-height: 1.15;
  }
  .p1home-en-text053 {
    line-height: 1.15;
  }
  .p1home-en-text054 {
    line-height: 1.15;
  }
  .p1home-en-text055 {
    line-height: 1.15;
  }
  .p1home-en-text056 {
    line-height: 1.15;
  }
  .p1home-en-text057 {
    line-height: 1.15;
  }
  .p1home-en-text059 {
    line-height: 1.15;
  }
  .p1home-en-text063 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text088 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text090 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text094 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text098 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text100 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text102 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text104 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text108 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text110 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text112 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-text116 {
    font-size: 18px;
    line-height: 1.25;
  }
}
@media(max-width: 1080px) {
  .p1home-en-features {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 480px) {
  .p1home-en-sidebar {
    flex: 1;
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .p1home-en-features {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .p1home-en-container02 {
    flex-direction: column;
  }
  .p1home-en-text005 {
    font-size: 18px;
    line-height: 1.25;
  }
  .p1home-en-container03 {
    flex-direction: column;
  }
  .p1home-en-text027 {
    line-height: 1.25;
  }
  .p1home-en-container04 {
    flex-direction: column;
  }
  .p1home-en-text063 {
    font-size: 18px;
    line-height: 1.1;
  }
  .p1home-en-text065 {
    line-height: 1.25;
  }
  .p1home-en-text066 {
    line-height: 1.25;
  }
  .p1home-en-text067 {
    line-height: 1.25;
  }
  .p1home-en-text068 {
    line-height: 1.25;
  }
  .p1home-en-text069 {
    line-height: 1.25;
  }
  .p1home-en-text070 {
    line-height: 1.25;
  }
  .p1home-en-text071 {
    line-height: 1.25;
  }
  .p1home-en-text072 {
    line-height: 1.25;
  }
  .p1home-en-text073 {
    line-height: 1.25;
  }
  .p1home-en-text074 {
    line-height: 1.25;
  }
  .p1home-en-text075 {
    line-height: 1.25;
  }
  .p1home-en-text076 {
    line-height: 1.25;
  }
  .p1home-en-text077 {
    line-height: 1.25;
  }
  .p1home-en-text078 {
    line-height: 1.25;
  }
  .p1home-en-text079 {
    line-height: 1.25;
  }
  .p1home-en-text080 {
    line-height: 1.25;
  }
  .p1home-en-text081 {
    line-height: 1.25;
  }
  .p1home-en-text082 {
    line-height: 1.25;
  }
  .p1home-en-text083 {
    line-height: 1.25;
  }
  .p1home-en-text084 {
    line-height: 1.25;
  }
  .p1home-en-text085 {
    line-height: 1.25;
  }
  .p1home-en-container06 {
    flex-direction: column;
  }
  .p1home-en-text088 {
    line-height: 1.25;
  }
  .p1home-en-container07 {
    flex-direction: column;
  }
  .p1home-en-text090 {
    line-height: 1.25;
  }
  .p1home-en-container08 {
    flex-direction: column;
  }
  .p1home-en-text094 {
    line-height: 1.25;
  }
  .p1home-en-container09 {
    flex-direction: column;
  }
  .p1home-en-text098 {
    line-height: 1.25;
  }
  .p1home-en-container10 {
    flex-direction: column;
  }
  .p1home-en-text100 {
    line-height: 1.25;
  }
  .p1home-en-container11 {
    flex-direction: column;
  }
  .p1home-en-text102 {
    line-height: 1.25;
  }
  .p1home-en-container12 {
    flex-direction: column;
  }
  .p1home-en-text104 {
    line-height: 1.25;
  }
  .p1home-en-container13 {
    flex-direction: column;
  }
  .p1home-en-text108 {
    line-height: 1.25;
  }
  .p1home-en-container14 {
    flex-direction: column;
  }
  .p1home-en-text110 {
    line-height: 1.25;
  }
  .p1home-en-container15 {
    flex-direction: column;
  }
  .p1home-en-text112 {
    line-height: 1.25;
  }
  .p1home-en-container16 {
    flex-direction: column;
  }
  .p1home-en-text116 {
    line-height: 1.25;
  }
}
